 main>.container {
     padding: 60px 15px 0;
     margin-bottom: 5rem;
 }

 .sticky-nav {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
 }

 .minHeight{
     min-height: 65vh;
 }

 .heroText {
     /* font-family: modesto-open-shadow, sans-serif; */
     font-family: 'Gemunu Libre', sans-serif;
     font-weight: 700;
     font-style: normal;
     text-transform: uppercase;
     color: rgb(255, 255, 0);
 }

 .bgImage {
     background-image: url("/img/4215101.jpg");
     background-repeat: none;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
 }

 .pageText{
     font-family: 'Roboto', sans-serif;

 }